You will have to work with two primary datasets:
1. Bitcoin Market Sentiment Dataset
o Columns: Date, Classification (Fear/Greed
2. Historical Trader Data from Hyperliquid
o Columns include: account, symbol, execution price, size, side, time, 
start position, event, closedPnL, leverage, etc.
Your objective is to explore the relationship between trader performance and market 
sentiment, uncover hidden patterns, and deliver insights that can drive smarter trading 
strategies.

Link to dataset
Historical Data 

https://drive.google.com/file/d/1IAfLZwu6rJzyWKgBToqwSmmVYU6VbjVs/view?usp=sharing

Fear Greed Index link:

https://drive.google.com/file/d/1PgQC0tO8XN-wqkNyghWc_-mnrYv_nhSf/view?usp=sharing
